<div class="cover d-flex justify-content-center align-items-center" style="background-image: url(<%= asset_path('home_background_image.jpeg')%>)">
  <div class="d-flex  justify-content-start align-items-center flex-grow-1 mx-4">
    <div class="left-container">
      <h1>Arkham Black Market</h1>
      <p>
        The best products for the nastiest intentions
      </p>
      <%= link_to 'Alliance', new_user_registration_path, class:"btn btn-ghost" %>
    </div>
  </div>
</div>
