<div class="cover" style="background-image: url(<%= asset_path('home_background_image.jpeg')%>)">
  <div class="container d-flex justify-content-around align-items-center flex-grow-1">
    <div class="left-container">
      <h1>ARKHAM BLACK MARKET</h1>
      <p>
        The best products for the nastiest intentions
      </p>
    </div>
    <div class="right-container">
      <a class="btn btn-gradient" href="#">Alliance</a>
    </div>
  </div>
</div>
