<div class="cover d-flex justify-content-center align-items-center" style="background-image: url(<%= asset_path('home_background_image.jpeg')%>)">
  <div class="d-flex  justify-content-between align-items-center flex-grow-1 mx-4">
    <div class="left-container">
      <h1>Arkham Black Market</h1>
      <p>
        The best products for the nastiest intentions
      </p>
    </div>
    <div>
      <a class="btn btn-gradient" href="#">Alliance</a>
    </div>
  </div>
</div>
