<div class="container">
  <h1>The best products for the nastiest intetions</h1>

  <% @evil_categories.each do |category| %>
    <p>
      <%= link_to category, artifacts_of_a_category_evil_artifacts_path(category) %>
    </p>
  <% end %>
</div>
