<div class="position-relative">
  <div class="banner" style="background-image: url(<%= asset_path('https://static3.cbrimages.com/wordpress/wp-content/uploads/2019/06/Batman-vs-Thomas-Wayne-Batman-from-DC-comics.jpg?q=50&fit=crop&w=960&h=500&dpr=1.5')%>)">
    <h1>The best products for the nastiest intentions</h1>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-end">
    <%= link_to 'I want to sell', new_evil_artifact_path, class: 'btn btn-red mb-5' %>
  </div>
  <div class="owl-carousel">
    <% @evil_categories.each do |category| %>
      <div class="card card-carousel">
        <%= image_tag category_image(category), style: "height: 20rem" %>
        <div class="card-body text-center card-carousel-body">
          <%= link_to category, artifacts_of_a_category_evil_artifacts_path(category) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
